<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>java programming language</string>
    <string>android studio INstallation</string>
    <string>Object-C programming language</string>
    <string>swift programming language</string>
    <string>xcode 8.1 installation</string>
</array>
</plist>
