<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Java Programming Language</string>
    <string>Android Studio Installation</string>
    <string>Objective-C Programming Language</string>
    <string>Switf Programming Language</string>
    <string>Xcode 8.1 Installation</string>
</array>
</plist>
